{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12 text-center">
		<div class="panel panel-default">
			<div class="panel-heading"><h2>New comment</h2></div>
			<div class="panel-body">
			
				<form method="post" class="comment">
					<div>New Comment for <a href="/blog/{{pkey.id()}}">{{subject}}</a></div>
					<p>{{content}}</p>
					<label>
						<textarea class="form-control" name="comment" placeholder="Your Comment">{{comment}}</textarea>
						<input type="hidden" name="author" value="{{user.name}}">
					</label>
					<div class="error">{{error}}</div>
					<input class="btn btn-success" type="submit">
					<a href="/blog" class="btn btn-danger">Cancel</a>
				</form>
		
			</div>
			<div class="panel-footer"></div>
		</div>	
	</div>
</div>
{% endblock %}